<!-- My Enrolled Courses Card -->

<div class="col">
    <a class="card program-card shadow border-grey overflow-hidden" href="{% url 'program_detail' program.id %}" title='Link to {{program.name}}'>
      <article class="row">
        <div class="col-lg-4 order-lg-2 bg-dark p-0">
          <img
            src="{{ program.image.url }}"
            class="card-image"
            alt="Program {{program.name}}"
          >
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <h2 class="h5 text-primary fw-bold title border-bottom p-0 mb-1">
                {{program.name}}
            </h2>
            <p class="card-text text-secondary pb-2 border-bottom">
              {{program.description}}
            </p>
  
            <div class='px-3'>
            <div class="my-2 d-flex text-secondary justify-content-between">
              <div>
                <i class="fa-solid fa-star text-warning"></i>
                <strong class="text-dark "
                >{{program.rating}}</strong
              >
              </div>  
              <div>
     
                <i class="fa-solid fa-layer-group text-success"></i>
                <strong class="text-dark">{{program.category.friendly_name}}</strong>
              </div>         
            </div>
  
            <div class="my-2 d-flex text-secondary justify-content-between">
              <div>
                <i class="fa-solid fa-hourglass-start text-primary"></i>
                <strong class="text-dark "
                >{{program.length}}</strong
              >
              </div>  
              <div>
                <i class="fa-solid fa-chart-line text-danger"></i>
                {% if program.difficulty == 1 %}
                    <span class="badge bg-success">Beginner</span>
                    {% elif program.difficulty == 2 %}
                    <span class="badge text-dark bg-warning">Intermediate</span>
                    {% elif program.difficulty == 3 %}
                    <span class="badge bg-danger">Expert</span>
                    {% endif %}
              </div>         
            </div>
          </div>    
          </div>
        </div>
      </article>
    </a>
  </div>
