{% extends 'base.html' %}

{% load static %}

{% block extra_title %}
400
{% endblock extra_title %}

{% block page_header %}
<header class="bg-dark">
  <div class="container px-4 px-lg-5 my-4 my-lg-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">400 Error</h1>
    
    </div>
  </div>
</header>

{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row my-4 align-items-center" id="error-container-row">
            <div class="mx-auto text-center my-5 p-4">
                <i class="mb-5 fa-solid fa-triangle-exclamation h1 text-danger"></i>
                <h2>Error: 400 Bad Request</h2>
                <p class="lead fw-normal text-secondary mb-0">The server cannot find a resource based on your request</p>
                <a href="{% url 'home' %}" class="btn btn-primary my-5">Return Home</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}